<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>RECEIVER-key display</title>
    <!--<link rel = "icon" href = "D:\SEMESTERS\SEMESTER 8\ML_project_with_photo_upload\temp2\logo3.png" type = "image/x-icon"> -->
  </head>
  <body style="background:DarkSlateGrey" >
   <br><br>
   <!--<img src="D:\SEMESTERS\SEMESTER 8\ML_project_with_photo_upload\temp2\logo3.png" class="rounded float-start" alt="imageyello">
   <img src="D:\SEMESTERS\SEMESTER 8\ML_project_with_photo_upload\temp2\1.jpg" class="rounded float-end" alt="...">-->
  <h1 style="color:MintCream; text-align:center;">MODIFIED PLAYFAIR WITH RSA AND STEGNOGRAPHY</h1>
   <br><br>
<div class=" p-6 mb-4"  style="background :LavenderBlush">
   <div class="d-flex align-items-center justify-content-center" style="height: 350px">
    <form>
         <div class="mb-3">
            <h4 style="font-weight: bold; text-align: center; font-size: 40px ;color:MidnightBlue;" >RECEIVER'S KEYS</h4>
        </div>
       
         <div class="mb-3">
            <label class="form-label" style="font-weight: bold; text-align:center; font-size: 25px ;color:FireBrick; width:200px;" >PUBLIC KEY:</label>
            <textarea style="width:400px;height:100px;">{{ publickey }}</textarea><br>     
        <!-- <div class= "mb-3">-->
               <label class="form-label" style="font-weight: bold; text-align: center; font-size: 25px ;color:FireBrick; width:200px;" >PRIVATE KEY:</label>
               <textarea style="width:400px;height:100px;">{{ privatekey }}</textarea> 
         </div>  
    </form>                   <!--<div id="plaintextHelp" class="form-text">Enter the PlainText (Allowed Things: A-Za-z0-9 ,.!?&quot;'&:;%@-)</div>-->
    </div>
</div>
<br><br>
<div class="card-footer text-muted justify-content-center">
     <div class="container" style="text-align:center;">
        <p>Designed and developed with <i class="fa fa-heart" style="color: red;"></i> <a style="color: #13b7ed;"></a> | Copyright ©2021 All rights reserved</p>
    </div>
</div>
</div>

   <!-- <form action = "uploader" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" required/>
         <input type = "submit" value="SUBMIT" />
      </form>-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>




















<!--


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Receiver Keys</title>
    </head>
    <body>

        <h1> Receiver's Keys </h1>

        <h3>Public key :</h3>
        <br>
        <textarea>{{ publickey }}</textarea>
        <br>
        <br>
        <h3>Private key :</h3>
        <br>
        <textarea>{{ privatekey }}</textarea>
    
    </body>
</html>
-->